PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000


DATABASE_URL="postgresql://postgres:YOUR_REAL_PASSWORD@localhost:5432/lokalfrnd_admin?schema=public"

JWT_ACCESS_SECRET="JWT_ACCESS_SECRET"

SEED_ADMIN_EMAIL="SEED_ADMIN_EMAIL"
SEED_ADMIN_PASSWORD="SEED_ADMIN_PASSWORD"

UPSTASH_REDIS_REST_TOKEN="UPSTASH_REDIS_REST_TOKEN"
UPSTASH_REDIS_REST_URL="UPSTASH_REDIS_REST_URL"

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_KYC_FOLDER=lokalfrnd/kyc

KYC_WEBHOOK_SECRET="KYC_WEBHOOK_SECRET"

//node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"

GATEWAY_SECRET_ENCRYPTION_KEY="GATEWAY_SECRET_ENCRYPTION_KEY"

RAZORPAY_KEY_ID=RAZORPAY_KEY_ID
RAZORPAY_SECRET=RAZORPAY_SECRET
RAZORPAY_ACCOUNT_NUMBER=RAZORPAY_ACCOUNT_NUMBER
RAZORPAY_IFSC=RAZORPAY_IFSC
